NODE_ENV=development
SERVER_PORT=3000
ALLOWED_ORIGINS=*
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=designli
POSTGRES_MAX_CONNECTIONS=10
POSTGRES_IDLE_TIMEOUT_MILLIS=60000
